@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: "Fredoka One", sans-serif;
  color: white;
}

html, body{
  height: 100%;
}

p, span, input{
  font-family: "Open Sans", sans-serif;
}

body{
  box-sizing: border-box;
  background-color: var(--darkgrey);
  margin: 0 10%;
  padding-top: 120px;
}

:root{
  --blue: #3B66FF;
  --gold: #FFD43B;
  --darkgold: #D0AE33;
  --darkblue: #1C223C;
  --darkgrey: #161515;
  --lightgrey: #D8E0FF;
}

.text-blue{
  color: var(--blue);
}

.text-gold{
  color: var(--gold);
}

.loader {
  border: 10px solid var(--blue);
  border-top: 10px solid var(--darkblue);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}