@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: "Fredoka One", sans-serif;
  color: white;
}

html, body{
  height: 100%;
}

p, span, input{
  font-family: "Open Sans", sans-serif;
}

body{
  box-sizing: border-box;
  background-color: var(--darkgrey);
  padding-top: 120px;
}

:root{
  --blue: #3B66FF;
  --gold: #FFD43B;
  --darkgold: #D0AE33;
  --darkblue: #1438B8;
  --darkgrey: #161515;
  --lightgrey: #D8E0FF;
}

.text-blue{
  color: var(--blue);
}

.text-gold{
  color: var(--gold);
}

.loader {
  border: 10px solid var(--blue);
  border-top: 10px solid var(--darkblue);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#markdown{
  all:revert;
}

/* timer component for typing game screen */

.time-wrapper {
    position: relative;
    width: 80px;
    height: 60px;
    font-size: 1.5em;
}

.time-wrapper .time {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.2s;
}

.time-wrapper .time.up {
    opacity: 0;
    transform: translateY(-100%);
}

.time-wrapper .time.down {
    opacity: 0;
    transform: translateY(100%);
}
